<ul class="list-unstyled deploy-list">
  <% commits.each do |commit| %>
    <li>
      <h4>
        <a href="<%= deploy_select_target_path(commit: commit.sha) %>" class="btn btn-primary btn-xs btn-success deploy-button">Ship This</a>
        &nbsp;
        <%= deploy_type_icon("commit") %> <%= sha_span(commit.sha) %>
        &nbsp;
        <a href="<%= github_commit_url(commit) %>" class="text-muted" title="view on github"><i class="icon-github-sign"></i></a>
      </h4>
      <small class="muted">
        <% author = (commit.author || commit.commit.author) %>
        author: <%= author.try(:login) || author.try(:name) %>
        &nbsp; | &nbsp;
        date: <%= print_time commit.commit.committer.date %>
      </small>
      <p><%= commit.commit.message %></p>
      <hr>
    </li>
  <% end %>
</ul>
