<ul class="nav nav-tabs">
  <% current_path = "/deploy/#{current_deploy.id}#{ @watching ? '/watch' : ''}" %>
  <li <%= 'class="active"' unless @show_full_logs %>>
    <a href="<%= current_path %>">Partial Log</a>
  </li>
  <li <%= 'class="active"' if @show_full_logs %>>
    <a href="<%= current_path %>?show_full=1">Full Log</a>
  </li>
</ul>
<br>

<div id="deploy_log_output" class=" <%= "pre-scrollable" unless @show_full_logs %>">
  <code class="deploy-log">
  <%= "---- OUTPUT TRUNCATED ----<br>" unless @show_full_logs  %>
  <%= current_deploy.log_contents_htmlized(@show_full_logs) %>
  </code>
</div>
