<h1>
  <i class="icon-bullseye"></i>&nbsp;
  <%= current_target.name.capitalize %>
</h1>
<br>

<div class="well gray-well">
  <% %w[pardot].each do |repo| %>
    <% if deploy = last_repo_deploys(repo) %>
      <div>
        <strong><%= deploy.repo_name.upcase %>:</strong>
        <%= print_email deploy.auth_user.email %> deployed
        <span class="text-info"><%= print_deploy_what(deploy) %></span>
        on <%= print_time deploy.created_at %>
      </div>
    <% else %>
      <div>
        <strong><%= repo.upcase %>:</strong>
        <em>No record of this being deployed to this target.</em>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_target.active_deploy %>
  <div class="alert alert-info">
    <strong>Active</strong>:
    There is a deploy currently going out to <%= current_target.name %>.
    <%= link_to repo_deploy_path(current_target.active_deploy.repo_name, current_target.active_deploy, watching: "1") do %>
      <i class="icon-eye-open"></i> Watch it here
    <%- end %>
  </div>
<% end %>

<div>
  <ul class="nav nav-tabs">
    <li <%= 'class="active"'.html_safe if @deploys %>>
      <a href="<%= target_path(current_target) %>"><i class="icon-train2"></i> Deploys</a>
    </li>
  </ul>
  <br>

  <%= render partial: "targets/deploys", locals: { deploys: @deploys } %>
</div>
