<h1>
  <i class="icon-bullseye"></i>
  <%= current_target.name.capitalize %>
</h1>

<table class="table table-hover repos">
  <thead>
    <tr>
      <th></th>
      <th>Repo</th>
      <th>Latest Deploy</th>
      <th>Lock Status</th>
    </tr>
  </thead>

  <tbody>
    <%- all_repos.each do |repo| %>
      <%-
        lock = current_target.existing_lock(repo)
        deploy = current_target.last_deploy_for(repo.name)
      %>

      <%= content_tag :tr, class: repo_row_class(lock, deploy), data: {repo: repo.name} do %>
        <td style="width: 1px; white-space: nowrap">
          <%- if lock %>
            <%= link_to unlock_target_repo_path(current_target, repo), method: "post", class: "btn btn-xs btn-warning", data: {confirm: lock.auth_user == current_user ? nil : "Are you sure you want to force unlock this repo?"} do %>
              <i class="icon-unlock"></i> Unlock
            <%- end %>
          <%- else %>
            <%= link_to lock_target_repo_path(current_target, repo), method: "post", class: "btn btn-xs btn-danger" do %>
              <i class="icon-lock"></i> Lock
            <%- end %>
          <%- end %>

          <%= link_to "All Deploys", target_repo_deploys_path(current_target, repo), class: "btn btn-xs btn-primary" %>
        </td>

        <td><%= link_to repo.name, repo %></td>

        <td>
          <%- if deploy = current_target.last_deploy_for(repo.name) %>
            <%- if deploy.completed? %>
              <i class="icon-check"></i>
            <%- else %>
              <i class="icon-spinner"></i>
            <%- end %>

            <%= print_deploy_what(deploy) %>
            <%= link_to "View", repo_deploy_path(repo, deploy, watching: deploy.completed? ? nil : "1"), class: "btn btn-xs btn-primary" %>
          <%- end %>
        </td>

        <td>
          <%- if lock %>
            <i class="icon-lock"></i>
            <strong><%= lock.auth_user.name %></strong> since <%= time_ago_in_words lock.created_at %> ago
          <%- else %>
            <i class="icon-unlock"></i>
          <%- end %>
        </td>
      <%- end %>
    <%- end %>
  </tbody>
</table>
