<h1>DEPLOY</h1>
<h3 class="muted">
  <%= current_repo.name.capitalize %>:
  <%= deploy_type_icon(@deploy_type.name) %>
  <%= @deploy_type.details %>
</h3>
<br>
<div class="alert alert-info">
  <p class="lead">
    Select <i class="icon-bullseye"></i> for deployment.
  </p>
</div>

<!-- TODO: also check for ongoing pushes? -->
<% @targets.each do |target| %>
  <div class="deploy-target">
    <h2>
      <% if target.is_locked? %>
        <i class="icon-lock text-danger"></i>
      <% else %>
        <i class="icon-unlock text-success"></i>
      <% end %>
      <%= target.name.upcase %>
    </h2>
    <div class="last-deploy">
      <small class="muted">
        <strong>LAST DEPLOY:</strong>
        <% deploy = target.last_deploy_for(current_repo.name) %>
        <% if deploy %>
          <%= deploy.auth_user.email %> deployed
          <span class="text-info">
            <%= deploy_type_icon deploy.what %> <%= deploy.what_details %>
          </span>
          on <%= print_time deploy.created_at %>
        <% else %>
          <em>No record of being deployed on this target.</em>
        <% end %>
      </small>
    </div>
    <% if target.is_locked? && target.locking_user != current_user %>
      <%= partial :'partials/locked_target_warning', locals: { target: target } %>
    <% else %>
      <form role="form" action="<%= deploy_target_path(target, @deploy_type) %>" method="post">
        <button type="submit" class="btn btn-warning"><i class="icon-rocket"></i> DEPLOY!</button>
        <!-- TODO: checkbox for locking -->
      </form>
    <% end %>
  </div>
    <%= "<hr>" unless @targets.last == target %>
<% end %>
<!--
      <small class="muted">
      <strong>LAST DEPLOY:</strong>
      shawn.veader@salesforce.com deployed <a href="#"><i class="icon-tag"></i> build2561</a> on 10/10/2013 @ 3:59 PM
    </small>
    <small class="muted">
      <strong>LAST DEPLOY:</strong>
      shawn.veader@salesforce.com deployed <a href="#"><i class="icon-code-fork"></i> sv/PDT-1234</a> on 10/10/2013 @ 10:16 AM
    </small>
-->
