<h1>DEPLOY</h1>
<h3 class="muted">
  <%= current_repo.name.capitalize %>:
  <%= deploy_type_icon(@deploy_type.name) %>
  <% if @deploy_type.name == "commit" %>
    <%= sha_span(@deploy_type.details) %>
  <% else %>
    <%= @deploy_type.details %>
  <% end %>
</h3>
<br>
<div class="alert alert-info">
  <p class="lead">
    Select <i class="icon-bullseye"></i> for deployment.
  </p>
</div>

<% @targets.each do |target| %>
  <div class="deploy-target">
    <h2>
      <% if target.is_locked? %>
        <i class="icon-lock text-danger"></i>
      <% else %>
        <i class="icon-unlock text-success"></i>
      <% end %>
      <%= target.name.upcase %>
    </h2>
    <div class="last-deploy">
      <small class="muted">
        <strong>LAST DEPLOY:</strong>
        <% deploy = target.last_deploy_for(current_repo.name) %>
        <% if deploy %>
          <%= deploy.auth_user.email %> deployed
          <span class="text-info"><%= print_deploy_what(deploy) %></span>
          on <%= print_time deploy.created_at %>
        <% else %>
          <em>No record of being deployed on this target.</em>
        <% end %>
      </small>
    </div>
    <% if target.is_locked? && target.locking_user != current_user && target.file_lock_user != current_user.email %>
      <%= partial :'partials/locked_target_warning', locals: { target: target } %>
    <% elsif target.active_deploy %>
      <div class="alert alert-info">
        <strong>Active</strong>:
        There is a deploy currently going out to <%= target.name %>.
        <a href="/deploy/<%= target.active_deploy.id %>/watch"><i class="icon-eye-open"></i> Watch it here</a>
      </div>
    <% else %>
      <form class="form-inline" role="form" action="<%= deploy_target_path(target, @deploy_type) %>" method="post">
        <button type="submit" class="btn btn-warning"><i class="icon-train2"></i> DEPLOY!</button>
        &nbsp;
        <div class="checkbox">
          <label>
            <input type="checkbox" name="lock"> Lock
          </label>
        </div>
      </form>
    <% end %>
  </div>
    <%= "<hr>" unless @targets.last == target %>
<% end %>

