<h1><i class="icon-wrench"></i> JOB</h1>

<% if @watching %>
  <p class="lead no-bottom">
    <i class="icon-eye-open"></i> Watching
    <strong>&ldquo;<%= current_job.job_name %>&rdquo;</strong>
    job on <%= current_job.deploy_target.name %>.
  </p>
<% else %>
  <p class="lead no-bottom">
    <%= current_job.job_name %>
  </p>
<% end %>
<small class="muted">
  Started on <%= print_time current_job.created_at %> by
  <% if current_job.auth_user == current_user %>
    <strong>you</strong>.
  <% else %>
    <%= current_job.auth_user.email %>.
  <% end %>
  <br>
  <strong>Command:</strong> <%= current_job.command %>
  <br>
  <strong>Process ID:</strong> <%= current_job.process_id %>
</small>
<br><br>

<% if current_job.completed? %>
  <div class="alert alert-success">
    <strong>Complete</strong>: marked as completed on <%= print_time current_job.updated_at %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <img src="/img/busy.gif" style="width:25px;">
    <strong>Not Complete</strong>: we're waiting on this <i class="icon-wrench"></i> to stop.
    <% if @watching %>
      <script type="text/javascript">
        // automatically refresh the page
        setTimeout(function () { location.reload(); }, 2000);
      </script>
    <% end %>
  </div>
<% end %>

<h4>Log</h4>
<%= partial :'partials/job_log' %>
