<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pardot/Canoe</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="/img/logo.png" alt="Pardot" class="img-responsive"/></a>
          <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <!--
              <li><a href="#"><i class="icon-question-sign"></i></a></li>
              <li><a href="#"><i class="icon-search"></i></a></li>
              -->
              <li><a href="#"><i class="icon-user" title="<%= current_user.email %>"></i></a></li>
              <li><a href="/logout"><i class="icon-signout" title="logout"></i></a></li>
            </ul>
          <% end %>
      </div>
    </header>

    <% if current_user %>
      <aside role="navigation">
        <nav role="navigation">
            <ul class="nav nav-stacked">
              <li>
                <a href="/repo/pardot"  <%= active_repo 'pardot'  %>><i class="icon-book"></i>Pardot </a>
              </li>
              <li>
                <a href="/repo/symfony" <%= active_repo 'symfony' %>><i class="icon-book"></i>Symfony</a>
              </li>
              <% all_targets.each do |target| %>
                <li <%= 'class="first-target"' if all_targets.first == target %>>
                  <a href="/target/<%= target.name %>" <%= active_target target.name %>><i class="icon-bullseye"></i><%= target.name.capitalize %></a>
                </li>
              <% end %>
              </li>
              <!--
              <li>{{#link-to 'docs'}}<span class="badge pull-right">2</span><i class="icon-file"></i> Docs{{/link-to}}</li>
              <li>{{#link-to 'guidelines'}}<i class="icon-book"></i> Guidelines{{/link-to}}</li>
              <li>{{#link-to 'patterns'}}<i class="icon-th"></i> Patterns{{/link-to}}</li>
              <li>
                  {{#link-to 'views'}}<span class="badge pull-right">6</span><i class="icon-sitemap"></i> Views{{/link-to}}
                  <ul class="nav nav-stacked nav-submenu">
                      <li><a href="#">Datatables</a></li>
                      <li><a href="#">Forms</a></li>
                      <li><a href="#">App Wide</a></li>
                      <li><a href="#">Charts &amp; Graphs</a></li>
                      <li><a href="#">Interactive Modules</a></li>
                      <li><a href="#">Wizards</a></li>
                  </ul>
              </li>
              <li>{{#link-to 'sandbox'}}<i class="icon-terminal"></i> Sandbox{{/link-to}}</li>
              -->
            </ul>
        </nav>

        <!--
        <nav role="navigation-bottom">
            <ul class="nav nav-stacked">
              <li><a href="#"><i class="icon-gear"></i> Settings</a></li>
            </ul>
        </nav>
        -->
      </aside>

      <main id="content" role="main">
          <div class="container">
            <%= partial :'/partials/flash_messages' %>
            <%= yield %>
          </div>
      </main>

      <div class="modal fade" id="js-thumbnail-modal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body text-center">
                  </div>
              </div>
          </div>
      </div>
    <% else %>
      <div class="container">
        <style type="text/css">
        body { padding-left:0; }
        </style>
        <%= partial :'/partials/flash_messages' %>
        <%= yield %>
      </div>
    <% end %>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>