<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pardot/Canoe [<%= self.class.env_name %>]</title>
    <link rel="stylesheet" href="<%= protocol_for_includes %>://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
    <link rel="stylesheet" href="<%= protocol_for_includes %>://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <% if self.class.is_production? %>
      <link rel="stylesheet" href="/css/prod.css">
    <% end %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="/img/logo.png" alt="Pardot" class="img-responsive"/></a>
          <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><i class="icon-signout" title="logout"></i></a></li>
            </ul>
          <% end %>
      </div>
    </header>

    <% if current_user %>
      <aside role="navigation">
        <nav role="navigation">
            <ul class="nav nav-stacked">
              <% all_repos.each do |repo| %>
                <li>
                  <a href="<%= repo_path(repo) %>" <%= active_repo repo %>>
                    <i class="icon-<%= repo_icon_map[repo] %>"></i><%= repo.capitalize %>
                  </a>
                </li>
              <% end %>
							<li>&nbsp;</li>
              <% all_targets.each do |target| %>
                <li>
                  <a href="<%= target_path(target.name) %>" <%= active_target target.name %>><i class="icon-bullseye"></i><%= target.name.capitalize %></a>
                </li>
              <% end %>
              </li>
            </ul>
        </nav>
      </aside>

      <main id="content" role="main">
          <div class="container">
            <%= partial :'/partials/flash_messages' %>
            <%= yield %>
          </div>
      </main>

      <div class="modal fade" id="js-thumbnail-modal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body text-center">
                  </div>
              </div>
          </div>
      </div>
    <% else %>
      <div class="container">
        <style type="text/css">
        body { padding-left:0; }
        </style>
        <%= partial :'/partials/flash_messages' %>
        <%= yield %>
      </div>
    <% end %>

    <script src="<%= protocol_for_includes %>://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="<%= protocol_for_includes %>://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
