<h1>What do you want to deploy?</h1>
<h3>
  <i class="icon-github"></i>&nbsp;
  <a href="https://github.com/pardot/<%= current_repo.name %>"><%= current_repo.full_name %></a>
</h3>
<small class="muted"><%= current_repo.description %></small>
<br><br>

<% if @tags || @branches || @commits %>
  <p class="lead">
    Select the
    <% if @tags %>
      <i class="icon-tags"></i> <strong>tag</strong>
    <% elsif @branches %>
      <i class="icon-code-fork"></i> <strong>branch</strong>
    <% elsif @commits %>
      <i class="icon-tasks"></i> <strong>commit</strong>
    <% end %>
    that you wish to ship.
  </p>

  <div class="alert alert-warning">
    <p>
      <strong>Note:</strong>
      On the next step you will choose where this will be deployed.
    </p>
  </div>
<% end %>

<div>
  <% if @branches %>
    <form class="form-inline pull-right" role="form" action="<%= repo_path %>/branches" method="get">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Enter branch name" value="<%= params[:search] %>">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  <% end %>
  <ul class="nav nav-tabs">
    <li <%= 'class="active"' if @tags %>>
      <a href="<%= repo_path %>/tags"><i class="icon-tags"></i> Tags</a>
    </li>
    <li <%= 'class="active"' if @branches %>>
      <a href="<%= repo_path %>/branches"><i class="icon-code-fork"></i> Branches</a>
    </li>
    <li <%= 'class="active"' if @commits %>>
      <a href="<%= repo_path %>/commits"><i class="icon-tasks"></i> Commits</a>
    </li>
  </ul>
  <br>

  <% if @tags %>
    <%= partial :'partials/tags', locals: { tags: @tags } %>
  <% elsif @branches %>
    <%= partial :'partials/branches', locals: { branches: @branches } %>
  <% elsif @commits %>
    <%= partial :'partials/commits', locals: { commits: @commits } %>
  <% elsif @tag %>
    <%= partial :'partials/latest_tag', locals: { tag: @tag, full_tag: @full_tag } %>
  <% else %>
    <div class="container">
      <h3 class="muted"><i class="icon-circle-arrow-up"></i>
        Select where to grab the code.
      </h3>
      <% if %[pardot symfony].include?(current_repo.name) %>
        <br>
        <h4>
          Or deploy the
          <a href="<%= repo_path %>/tags/latest"><i class="icon-tags"></i> latest tag</a>
        </h4>
      <% end %>
    </div>
  <% end %>
</div>
