<h1>
  <i class="icon-bullseye"></i>&nbsp;
  <%= current_target.name.capitalize %>
</h1>
<br>

<% if current_target.is_locked? %>
  <%= partial :'partials/locked_target_warning', locals: { target: current_target } %>
  <div id="unlock-hider">
    <a type="button" class="btn btn-default btn js-unlock-toggle" href="#">
      <i class="icon-unlock"></i> Unlocking Options
    </a>
  </div>
  <div id="unlock-forms" style="display:none;">
    <% if current_target.locking_user == current_user || current_target.file_lock_user == current_user.email %>
      <form class="js-confirm" role="form" action="/target/<%= current_target.name %>/unlock" method="post" data-confirm="Are you sure you want to unlock this target?">
        <button type="submit" class="btn btn-warning"><i class="icon-unlock"></i> Unlock!</button>
      </form>
    <% else %>
      <form role="form" class="js-confirm" action="/target/<%= current_target.name %>/unlock/force" method="post" data-confirm="Are you sure you want to forcefully unlock this?<br>It's kinda not nice...">
        <button type="submit" class="btn btn-danger"><i class="icon-unlock"></i> Forcefully Unlock!</button>
      </form>
    <% end %>
  </div>
<% else %>
  <div id="lock-hider">
    <a type="button" class="btn btn-default btn js-locking-toggle" href="#">
      <i class="icon-lock"></i> Locking Options
    </a>
  </div>
  <div id="lock-forms" style="display:none;">
    <form class="js-confirm" role="form" action="/target/<%= current_target.name %>/lock" method="post" data-confirm="Are you sure you want to lock this target?">
      <button type="submit" class="btn btn-warning"><i class="icon-lock"></i> Lock!</button>
    </form>
  </div>
<% end %>
<br>

<div class="well gray-well">
  <% %w[pardot symfony].each do |repo| %>
    <% deploy = @last_repo_deploys[repo] %>
    <% if deploy %>
      <div>
        <strong><%= deploy.repo_name.upcase %>:</strong>
        <%= deploy.auth_user.email %> deployed
        <span class="text-info"><%= print_deploy_what(deploy) %></span>
        on <%= print_time deploy.created_at %>
      </div>
    <% else %>
      <div>
        <strong><%= repo.upcase %>:</strong>
        <em>No record of this being deployed to this target.</em>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_target.active_deploy %>
  <div class="alert alert-info">
    <strong>Active</strong>:
    There is a deploy currently going out to <%= current_target.name %>.
    <a href="/deploy/<%= current_target.active_deploy.id %>/watch"><i class="icon-eye-open"></i> Watch it here</a>
  </div>
<% end %>

<div>
  <ul class="nav nav-tabs">
    <li <%= 'class="active"' if @deploys %>>
      <a href="/target/<%= current_target.name %>"><i class="icon-rocket"></i> Deploys</a>
    </li>
    <li <%= 'class="active"' if @locks %>>
      <a href="/target/<%= current_target.name %>/locks"><i class="icon-lock"></i> Locks</a>
    </li>
  </ul>
  <br>

  <% if @deploys %>
    <%= partial :"/partials/deploys", locals: { deploys: @deploys } %>
  <% elsif @locks %>
    <%= partial :"/partials/locks", locals: { locks: @locks } %>
  <% end %>
</div>