<h1>TARGET</h1>
<p class="lead no-bottom">
  <i class="icon-bullseye"></i>&nbsp;
  <%= current_target.name.capitalize %>
</p>
<br>

<% if current_target.is_locked? %>
  <%= partial :'partials/locked_target_warning', locals: { target: current_target } %>
<% end %>

<div class="well gray-well">
  <% %w[pardot symfony].each do |repo| %>
    <% deploy = @last_repo_deploys[repo] %>
    <% if deploy %>
      <div>
        <strong><%= deploy.repo_name.upcase %>:</strong>
        <%= deploy.auth_user.email %> deployed
        <span class="text-info">
          <%= deploy_type_icon deploy.what %> <%= deploy.what_details %>
        </span>
        on <%= print_time deploy.created_at %>
      </div>
    <% else %>
      <div>
        <strong><%= repo.upcase %>:</strong>
        <em>No record of this being deployed to this target.</em>
      </div>
    <% end %>
  <% end %>
</div>

<!-- TODO: look for any running deploys - provide watch link -->
<% if current_target.active_deploy %>
  <div class="alert alert-info">
    <strong>Active</strong>:
    There is a deploy currently going out to <%= current_target.name %>.
    <a href="/deploy/<%= current_target.active_deploy.id %>/watch"><i class="icon-eye-open"></i> Watch it here</a>
  </div>
<% end %>
<!-- TODO: list of past deploys -->

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Repo</th>
      <th>What</th>
      <th>Who</th>
      <th>When</th>
      <th>Complete</th>
    </tr>
  </thead>
  <% @deploys.each do |deploy| %>
    <tr>
      <td><a href="/deploy/<%= deploy.id %>">view</a></td>
      <td><%= deploy.repo_name %></td>
      <td>
        <%= deploy_type_icon deploy.what %>
        <%= deploy.what_details %>
      </td>
      <td><%= deploy.auth_user.email %></td>
      <td><%= print_time deploy.created_at %></td>
      <td>
        <% if deploy.completed? %>
          <span class="text-success"><i class="icon-check"></i></span>
        <% else %>
          <span class="text-muted"><i class="icon-check-empty"></i></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>