<h1><i class="icon-train2"></i> DEPLOY</h1>
<p class="lead no-bottom">
  <i class="icon-eye-open"></i> Watching deploy
  of <%= current_deploy.repo_name.capitalize %> :
  <%= print_deploy_what(current_deploy) %>
  to <%= current_deploy.deploy_target.name %>
</p>
<small class="muted">
  Started on <%= print_time current_deploy.created_at %> by
  <% if current_deploy.auth_user == current_user %>
    <strong>you</strong>.
  <% else %>
    <%= current_deploy.auth_user.email %>.
  <% end %>
</small>
<br><br>

<% if current_deploy.completed? %>
  <div class="alert alert-success">
    <strong>Complete</strong>: marked as completed on <%= print_time current_deploy.updated_at %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <img src="/img/busy.gif" style="width:25px;">
    <strong>Not Complete</strong>: we're waiting on this <i class="icon-train2"></i> to stop.
    <script type="text/javascript">
      // automatically refresh the page
      setTimeout(function () { location.reload(); }, 2000);
    </script>
  </div>
<% end %>

<h4>Log</h4>
<%= partial :'partials/deploy_log' %>