<h1><i class="icon-train2"></i> DEPLOY</h1>
<p class="lead no-bottom">
  <% if @watching %>
    <i class="icon-eye-open"></i> Watching deploy of
  <% end %>
  <%= current_deploy.project_name.titleize %> :
  <%= print_deploy_what(current_deploy) %>
  to <%= current_deploy.deploy_target.name.capitalize %>
</p>
<small class="muted">
  Started on <%= print_time current_deploy.created_at %> by
  <% if current_deploy.auth_user == current_user %>
    <strong>you</strong>.
  <% else %>
    <%= print_email current_deploy.auth_user.email %>.
  <% end %>
</small>
<br>
<h4>
  <strong>
    What <%= current_deploy.completed? ? 'changed' : 'is changing' %>?
  </strong>
  &nbsp;&nbsp;
  <a href="<%= current_project.diff_url(@previous_deploy, current_deploy) %>">
    <% if @previous_deploy %>
      <%= print_deploy_what @previous_deploy %>
    <% else %>
      First Deploy
    <% end %>
    &nbsp;
    &#x021D2;
    &nbsp;
    <%= print_deploy_what current_deploy %>
  </a>
</h4>

<%- if current_deploy.options %>
  <div class="panel panel-default">
    <div class="panel-heading">Options</div>
    <div id="deploy-options-table-panel" class="panel-body">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Option</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <%- current_deploy.options.each do |k, v| %>
            <tr>
              <td><%= k %></td>
              <td><%= v %></td>
            </tr>
          <%- end %>
        </tbody>
      </table>
    </div>
  </div>
<%- end %>

<% if current_deploy.canceled? %>
  <div class="alert alert-danger">
    <i class="icon-remove-sign"></i>
    <strong>Stopped</strong>:
    this deploy was stopped and marked completed on <%= print_time current_deploy.updated_at %>
  </div>
<% elsif current_deploy.completed? %>
  <div class="alert alert-success">
    <i class="icon-check"></i>
    <strong>Complete</strong>:
    marked as completed on <%= print_time current_deploy.updated_at %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <img src="/img/busy.gif" style="width:25px;">
    <strong>Not Complete</strong>: we're waiting on this <i class="icon-train2"></i> to stop.
    <% if @watching && !current_deploy.completed? %>
      <script type="text/javascript">
        // automatically refresh the page every 15 secs
        setTimeout(function () { location.reload(); }, 15000);
      </script>
    <% end %>
  </div>

  <div class="progress">
    <% precent_complete = current_deploy.percentage_complete %>
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= precent_complete %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= precent_complete %>%;">
      <%= precent_complete %>%&nbsp;
    </div>
  </div>
<% end %>

<%- if @deploy.all_sync_servers.any? %>
  <%= render partial: "deploys/deploy_log" %>
<%- else %>
  <div class="well well-sm">
    <%- %w(dfw phx).each do |datacenter| %>
      <%= link_to kibana_link(deploy: current_deploy, datacenter: datacenter), class: "btn btn-info", target: "_blank" do %>
        Logs (<%= datacenter %>) <i class="icon-external-link"></i>
      <%- end %>
    <%- end %>
  </div>
<%- end %>

<% unless @show_full_logs %>
  <%= render partial: "deploys/deploy_servers", locals: {deploy: @deploy, deploy_results: @deploy_results} %>
<% end %>

<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Task</th>
      <th>Restart</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%- if current_deploy.completed? %>
      <tr>
        <td>
          <%= link_to select_target_project_deploys_path(current_project.name, artifact_url: current_deploy.artifact_url, branch: current_deploy.branch), class: "btn btn-primary btn-info deploy-button" do %>

            <i class="icon-train2"></i> REDEPLOY
          <%- end %>
        </td>
        <td>Yes</td>
        <td>
          Prepares to redeploy this build.
        </td>
      </tr>
    <%- end %>
    <%- if !current_deploy.completed? && !current_deploy.all_servers_deployed? %>
      <tr>
        <td>
          <%= form_tag force_to_complete_project_deploy_path(current_project.name, current_deploy), method: "post", role: "form", data: {confirm: "Are you sure you want to force this deploy to complete?"} do %>
            <%= button_tag type: "submit", class: "btn btn-warning" do %>
              <%= content_tag :i, "", class: "icon-fast-forward" %>
              FORCE TO COMPLETE
            <%- end %>
          <%- end %>
        </td>
        <td>Yes</td>
        <td>
          Forces the deploy to move toward completion, failing the deploy on any outstanding servers. This is appropriate to use if a few servers aren't completing, because they are down or unresponsive. Restart tasks (e.g., restarting jobs) <strong>are</strong> performed, so it's expected that the deploy will run for a few minutes after pushing this button.
        </td>
      </tr>
    <%- end %>
    <%- if !current_deploy.completed? && current_deploy.all_servers_deployed? %>
      <tr>
        <td>
          <%= form_tag pick_new_restart_servers_project_deploy_path(current_project.name, current_deploy), method: "post", role: "form", data: {confirm: "Are you sure you want to pick new restart servers?"} do %>
            <%= button_tag type: "submit", class: "btn btn-warning" do %>
              <%= content_tag :i, "", class: "icon-fast-forward" %>
              PICK ANOTHER RESTART SERVER
            <%- end %>
          <%- end %>
        </td>
        <td>Yes</td>
        <td>
          Picks new restart servers for those datacenters that haven't finished. This is a good option if the deploy is currently hanging on restart. There may be a problem with the current restart server.
        </td>
      </tr>
    <%- end %>
    <%- unless current_deploy.completed? %>
      <tr>
        <td>
          <%= form_tag cancel_project_deploy_path(current_project.name, current_deploy), method: "post", role: "form", data: {confirm: "Are you sure you want to cancel this deploy?"} do %>
            <button type="submit" class="btn btn-danger"><i class="icon-remove-sign"></i> STOP</button>
          <%- end %>
        </td>
        <td>No</td>
        <td>
          Immediately stops the deploy. This is appropriate only when a rollback is going to be performed immediately following. Restart tasks (e.g., restarting jobs) <strong>are not</strong> performed, so the deploy will exit immediately.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="horizontal-button-array">

</div>

<br>
