<div class='purple-box u-padding-Al row form'>
  <%= bootstrap_form_for(multipass, label_errors: true) do |f| %>

    <div id="radio-container">
      <div id="impacts_and_probabilities">
        <%= f.form_group :impact do %>
          <div class="col-md-12 help-text-container">
            <%= f.label "Impact:" %>
            <br>

            <div class="btn-group col-xs-12 col-sm-6 col-md-4 radio-buttons buttons-3" data-toggle="buttons">
              <%= f.button :impact, "low", label: "Low", inline: true %>
              <%= f.button :impact, "medium", label: "Medium", inline: true %>
              <%= f.button :impact, "high", label: "High", inline: true %>
            </div>

            <%= render "multipasses/form/helptext", button: "low", text: "This change could create no more than a minor distruption." %>
            <%= render "multipasses/form/helptext", button: "medium", text: "This change could create a moderate disruption." %>
            <%= render "multipasses/form/helptext", button: "high", text: "This change could create a severe disruption." %>
          </div>
        <% end %>

        <%= f.form_group :impact_probability do %>
          <div class="col-md-12 help-text-container">
            <%= f.label "Impact Probability:" %>
            <br>

            <div class="btn-group col-xs-12 col-sm-6 col-md-4 radio-buttons buttons-3" data-toggle="buttons">
              <%= f.button :impact_probability, "low", label: "Low", inline: true %>
              <%= f.button :impact_probability, "medium", label: "Medium", title: "", inline: true %>
              <%= f.button :impact_probability, "high", label: "High", inline: true %>
            </div>

            <%= render "multipasses/form/helptext", button: "low", text: "This is a well-defined, frequently performed or automated change (0-2% chance of failure)." %>
            <%= render "multipasses/form/helptext", button: "medium", text: "This is a well-defined, somewhat automated change (2-10% chance of failure)." %>
            <%= render "multipasses/form/helptext", button: "high", text: "This is a rarely performed, manual change (more than a 10% chance of failure)." %>
          </div>
        <% end %>
      </div>

      <%= f.form_group :change_type, class: "change_type" do %>
        <div class="col-md-12 help-text-container">
          <%= f.label "Change Type: " %>
          <br>

          <div class="btn-group col-xs-12 col-sm-6 col-md-4 radio-buttons buttons-2" data-toggle="buttons">
            <%= f.button :change_type, "minor", label: "Minor", inline: true %>
            <%= f.button :change_type, "major", label: "Major", inline: true %>
          </div>

          <%= render "multipasses/form/helptext", button: "minor", text: "Based on the impact and impact probability this is a minor change." %>
          <%= render "multipasses/form/helptext", button: "major", text: "Based on the impact and impact probability this is a major change." %>
        </div>
      <% end %>

      <%= f.form_group :testing, class: "testing" do %>
        <div class="col-md-12 help-text-container">
          <%= f.label "Testing: " %>
          <br>

          <div class="btn-group col-xs-12 col-sm-6 col-md-4 radio-buttons buttons-2" data-toggle="buttons">
            <%= f.button :testing, false, label: "Incomplete", inline: true %>
            <%= f.button :testing, true, label: "Complete", inline: true %>
          </div>

          <%= render "multipasses/form/helptext", button: "false", text: "Automated testing for these changes has not yet completed." %>
          <%= render "multipasses/form/helptext", button: "true", text: "Automated testing for these changes has been completed." %>
        </div>
      <% end %>
    </div>

    <div class="backout-plan col-md-12">
      <label class="control-label" for="multipass_backout_plan">Backout plan</label>
      <i class="glyphicon glyphicon-pencil edit-backout-plan"></i>
      <%= f.text_area :backout_plan, rows: 3, class: "hidden", hide_label: true %>
      <div class="markdown">
        <%= raw backout_plan %>
      </div>
    </div>

    <div class="col-md-12">
      <%= f.submit 'Update multipass', class: 'update-button btn btn-default' %>
    </div>
  <% end %>
</div>
