<div id="pci-hipaa-info" class="collapse alert alert-warning">
  <button type="button" class="close" role="button" data-toggle="collapse" href="#pci-hipaa-info" aria-expanded="true" aria-controls="pci-hipaa-info">
      <span aria-hidden="true">&times;</span>
  </button>
  <p>This is a PCI/HIPAA compliance tool.

  <p>To learn more about the underlying code for this app, see <a href="https://github.com/heroku/changeling">heroku/changeling</a></p>

  <p>To learn more about the process, check out the <a href="https://sites.google.com/a/heroku.com/security/procedures/change-management-procedure">Change management procedure</a></p>

</div>
<h1 class=col-md-3>Multipasses</h1>
<%= form_tag multipasses_path, method: 'get', class: 'teams col-md-7 form-inline' do %>
  <div class="form-group">
    <label class="sr-only" for="by_team">Team</label>
    <%= select_tag 'by_team', options_for_select(Multipass.teams, @by_team), include_blank: 'All teams', class: 'form-control', onChange: 'this.form.submit()' %>
    <%= select_tag 'complete', options_for_select([["Only complete", true], ["Only incomplete", false]], params[:complete]), include_blank: 'No status filter', class: 'form-control', onChange: 'this.form.submit()' %>
  </div>
<% end %>
<div class="col-md-2">
  <p id="pci-hipaa-info-show" class="hidden">
  <a href="#"><i class="glyphicon glyphicon-info-sign"></i> More info</a>
  </p>
</div>

<table class="table table-hover" id="multipass-list">
  <thead>
    <tr>
      <th>Title</th>
      <th class='text-center'></th>
      <th>Change type</th>
      <th class='text-center'>Status</th>
      <th class='text-center'></th>
    </tr>
  </thead>
  <tbody>
    <%- @multipasses.each do |multipass| %>
      <%= render 'multipass', multipass: multipass %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td><%= paginate @multipasses %></td></tr>
  </tfoot>
</table>
