<%- if Changeling.config.pardot? %>
<p>←  <%= link_to "Go back to listing", "/" %></p>
<%- end %>

<h1 class="title">
<%- if Changeling.config.heroku? %>
  <%= @multipass.title || "Multipass #{truncate(@multipass.id.to_s, length: 11)}" %> (<%= link_to "PR##{@multipass.pull_request_number}", @multipass.reference_url %>)
  <% if @multipass.for_compliance? %><span class="text-success label label-success">participating in compliance</a><% end %>
</h1>
<h4 class="requester">by <%= @multipass.requester %> • owned by <%= @multipass.team %>
  <%= link_to sync_multipass_path(@multipass), title: 'sync multipass', method: :post do %>
    <i class="glyphicon glyphicon-refresh"></i>
  <% end %>
</h4>
<%- else %>
  <%- pull = RepositoryPullRequest.new(@multipass) %>
  <%= multipass_title(@multipass) %>
<h4 class="requester"><%= link_to("PR ##{pull.number}", pull.github_url) %> by <%= @multipass.requester %>
  <%= link_to sync_multipass_path(@multipass), title: 'sync multipass', method: :post do %>
    <i class="glyphicon glyphicon-refresh"></i>
  <% end %>
</h4>
<%- end %>

<% locals = { multipass: @multipass, backout_plan: @backout_plan } %>

<%- if Changeling.config.heroku? %>
<% unless @bypass_form || User.for_heroku_email(@multipass.requester) == current_user %>
  <div class="row description purple-box u-padding-Al">
    This <strong><%= @multipass.change_type %></strong> change has a <strong><%= @multipass.impact %></strong> impact with a <strong><%= @multipass.impact_probability %></strong> probability. It is <strong><% unless @multipass.testing %>un<% end %>tested</strong>.
  </div>
<% end %>
<% end %>

<div class="row description purple-box u-padding-Al">
<% if @multipass.complete? %>

  <%= tooltip "Complete" do %>
  <i class='complete glyphicon glyphicon-ok'></i>
  This pull request is fully compliant and can be merged into the main branch. It is estimated to be a <%= @multipass.change_type %> change.
  <%- end %>

<% else %>

  <%= tooltip "Pending" do %>
    <i class='incomplete glyphicon glyphicon-circle'></i>
    This pull request does not yet meet all compliance requirements:
  <% end %>

  <%=raw @multipass.status_description_html %>

<% end %>

<%- if Changeling.config.heroku? -%>
<%= render partial: "actor_buttons", locals: locals %>
<%- end %>

<% if @bypass_form || User.for_heroku_email(@multipass.requester) == current_user %>
  <%= render(partial: "multipass_form", locals: locals) %>
<% else %>
  <div class="row backout-plan purple-box u-padding-Al markdown">
    <h4>Backout plan</h4>
    <%= raw @backout_plan %>
  </div>
<% end %>

<!--
  <%= escape_javascript(@multipass.to_pretty_json) %>
-->
