<%- if Changeling.config.pardot? %>
<p>←  <%= link_to "Go back to listing", "/" %></p>
<%- end %>
<h1 class="title">
  <%= @multipass.title || "Multipass #{truncate(@multipass.id.to_s, length: 11)}" %> (<%= link_to "PR##{@multipass.pull_request_number}", @multipass.reference_url %>)
  <%- if Changeling.config.heroku? %>
  <% if @multipass.for_compliance? %><span class="text-success label label-success">participating in compliance</a><% end %>
  <%- end %>
</h1>
<h4 class="requester">by <%= @multipass.requester %> • owned by <%= @multipass.team %>
  <%= link_to sync_multipass_path(@multipass), title: 'sync multipass', method: :post do %>
    <i class="glyphicon glyphicon-refresh"></i>
  <% end %>
</h4>

<% locals = { multipass: @multipass, backout_plan: @backout_plan } %>

<% unless @bypass_form || User.for_heroku_email(@multipass.requester) == current_user %>
  <div class="row description purple-box u-padding-Al">
    This <strong><%= @multipass.change_type %></strong> change has a <strong><%= @multipass.impact %></strong> impact with a <strong><%= @multipass.impact_probability %></strong> probability. It is <strong><% unless @multipass.testing %>un<% end %>tested</strong>.
  </div>
<% end %>

<%= render partial: "actor_buttons", locals: locals %>

<% if @bypass_form || User.for_heroku_email(@multipass.requester) == current_user %>
  <%= render(partial: "multipass_form", locals: locals) %>
<% else %>
  <div class="row backout-plan purple-box u-padding-Al markdown">
    <h4>Backout plan</h4>
    <%= raw @backout_plan %>
  </div>
<% end %>

<!--
  <%= escape_javascript(@multipass.to_pretty_json) %>
-->
