<h1 class="steps-count">Step 1 of 3</h1>
<h2>What do you want to deploy?</h2>
<br>

<p class="lead muted">
  Select the <%= deploy_type_icon("tag") %> <strong>tag</strong> that you wish to ship.
</p>

<div>
  <%= render partial: "application/deploy_what_tabs" %>

  <ul class="list-unstyled deploy-list">
    <% @tags.each do |tag| %>
      <li>
        <h4>
          <a href="<%= select_target_repo_deploys_path(current_repo.name, tag: tag.name) %>" class="btn btn-primary btn-xs btn-success deploy-button">Ship This</a>
          &nbsp;
          <%= deploy_type_icon("tag") %> <%= tag.name %>
          &nbsp;
          <a href="<%= github_tag_url(tag) %>" class="text-muted" title="view on github"><i class="icon-github-sign"></i></a>
        </h4>
        <p>
          <small class="muted">commit: <a href="<%= github_commit_url(tag.commit) %>" title="<%= tag.commit.sha %>"><%= sha_span(tag.commit.sha) %></a></small>
        </p>
        <hr>
      </li>
    <% end %>
  </ul>
</div>
