<h1 class="steps-count">Step 1 of 3</h1>
<h2>What do you want to deploy?</h2>
<br>

<p class="lead muted">
  Select the <%= deploy_type_icon("tag") %> <strong>latest tag</strong> that you wish to ship.
</p>

<div>
  <%= render partial: "application/deploy_what_tabs" %>

  <div class="well gray-well half-well">
    <h2>
      <span class="muted">Latest Tag:</span> &nbsp;
      <%= deploy_type_icon("tag") %> <%= @latest_tag.tag %>
      &nbsp;
      <a href="<%= github_tag_url(@latest_tag) %>" class="text-muted" title="view on github"><i class="icon-github-sign"></i></a>
    </h2>
    <p>
      <small class="muted">
        <strong>tagged on</strong>: <%= @latest_tag.tagger.date.strftime("%-m/%-d/%Y %l:%M %p") %>
        &nbsp;|&nbsp;
        <strong>commit</strong>: <a href="<%= github_commit_url(@latest_tag.object) %>" title="<%= @latest_tag.object.sha %>"><%= sha_span(@latest_tag.object.sha) %></a>
      </small>
    </p>
    <p>
      <a href="<%= select_target_repo_deploys_path(current_repo.name, what: "tag", what_details: @latest_tag.tag) %>" class="btn btn-primary btn-sml btn-success deploy-button">Ship This</a>
    </p>
  </div>
</div>
