<h2>Select the account to query</h2>

<% if flash[:error] %>
<div class='alert alert-error'>
  <span class='alert alert-error alert-danger'>
    Error: <%= flash[:error] %>
  </span>
</div>
<% end %>

<%= form_tag(accounts_path, method: :get, enforce_utf8: false, ) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>
<p>
<ul>
<% accounts.each do |account| %>
  <li><%= link_to account, "/queries/new?account_id=#{account.id}" %></li>
<% end %>
</ul>
</p>
<%= will_paginate accounts %>
