<ul class="nav nav-tabs">
  <li <%= 'class="active"'.html_safe unless @show_full_logs %>>
    <%= link_to "Partial Log", project_deploy_path(current_project.name, current_deploy.id, params.slice(:watching)) %>
  </li>
  <li <%= 'class="active"'.html_safe if @show_full_logs %>>
    <%= link_to "Full Log", project_deploy_path(current_project.name, current_deploy.id, params.slice(:watching).merge(show_full: "1")) %>
  </li>
</ul>
<br>

<div id="deploy_log_output" class=" <%= "pre-scrollable" unless @show_full_logs %>">
  <code class="deploy-log">
  <%= "---- OUTPUT TRUNCATED ----<br>".html_safe unless @show_full_logs  %>
  <%= current_deploy.log_contents_htmlized(@show_full_logs) %>
  </code>
</div>
