<h1>
  <%= content_tag :i, "", class: "icon-#{current_project.icon}" %>
  <%= current_project.titleized_name %>
</h1>

<h2 class="steps-count" style="border-bottom: none;">Step 1 of 3</h2>

<div>
  <%= render partial: "application/deploy_what_tabs" %>
  <% unless current_project.status_contexts.empty? %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2 col-md-offset-6" style="font-size: 1.5em;">
        Status Checks
      </div>
    </div>
  <% end %>
  <div class="row">
    <% current_project.status_contexts.values.each_with_index do |test_name, i| %>
      <div class="col-md-1<%= " col-md-offset-1" if i == 0 %>"><label><%= test_name %></label></div>
    <% end %>
  </div>

  <%- if @builds.empty? %>
    <p>
      <strong>Sorry, there are no recent builds for this branch.</strong>
    </p>
  <%- else %>
    <ul class="list-unstyled deploy-list">
      <% @builds.each do |build| %>
        <li>
          <div class="row">
            <div class="col-md-3">
              <h4>
                <%= link_to "Ship This", select_target_project_deploys_path(current_project, artifact_url: build.artifact_url), class: "btn btn-primary btn-xs btn-success deploy-button" %>
                &nbsp;
                <%= deploy_type_icon("build") %> build<%= build.build_number %>
              </h4>
              <small class="muted">
                commit:
                <%= link_to current_project.sha_url(build.sha), title: build.sha do %>
                  <%= sha_span(build.sha)  %>
                <%- end %>
              </small>
            </div>
            <% current_project.status_contexts.keys.each_with_index do |test, i| %>
              <div class="col-md-1<%= " col-md-offset-1" if i == 0 %>">
                <%= render partial: "streetlight", locals: { state: build.state_for_context(test), build_url: build.url_for_context(test) } %>
              </div>
            <% end %>
          </div>
          <hr>
        </li>
      <% end %>
    </ul>
  <%- end %>
</div>
