<%= content_tag :div, class: ["deploy-target", target.production? ? "bg-danger" : "bg-info"].compact do %>
  <h2 class="under"><%= target.name.upcase %></h2>

  <div class="last-deploy">
    <% deploy = target.last_successful_deploy_for(current_project.name) %>
    <small class="muted">
      <strong>LAST DEPLOY:</strong>
      <% if deploy %>
        <%= print_email deploy.auth_user.email %> deployed
        <span class="text-info"><%= print_deploy_what(deploy) %></span>
        on <%= print_time deploy.created_at %>
      <% else %>
        <em>Nothing has been deployed on this target.</em>
      <% end %>
    </small>
    <% if deploy %>
      <br>
      <a href="<%= current_project.diff_url(deploy, @prov_deploy) %>">
        <strong>What will Change?</strong>
        &nbsp;&nbsp;
        <span style="color:#000;">
          <%= print_deploy_what deploy %>
          &nbsp;
          &#x021D2;
          &nbsp;
          <%= print_deploy_what @prov_deploy %>
        </span>
      </a>
    <% end %>
  </div>
  <% if !target.user_can_deploy?(current_project, current_user) %>
    <%= render partial: 'deploys/lock', locals: { target: target, lock: target.existing_lock(current_project) } %>
  <% elsif active_deploy = target.active_deploy(current_project) %>
    <div class="alert alert-info">
      <strong>Active</strong>:
      There is a deploy currently going out.
      <%= link_to project_deploy_path(current_project.name, active_deploy.id, watching: "1") do %>
        <i class="icon-eye-open"></i> Watch it here
      <%- end %>
    </div>
  <% else %>
    <%- deployability = @prov_deploy.deployability(target: target, allow_pending_builds: true) %>
    <%= link_to "Ship It Here", new_project_deploy_path(current_project.name, target_name: target.name, artifact_url: @prov_deploy.artifact_url, branch: @prov_deploy.branch), class: "btn #{shipit_btn_class(@prov_deploy)} deploy-button", disabled: !deployability.permitted?, title: deployability.reason, data: {"target" => target.name} %>
    <div class="deployability muted"><%= deployability.reason %></div>
  <% end %>
<%- end %>
