<h1>
  <%= link_to target_path(current_target) do %>
    <i class="icon-bullseye"></i>
    <%= current_target.name.capitalize %>
  <%- end %>

  <i class="icon-double-angle-right"></i>

  <%= current_project.titleized_name %>
</h1>

<table class="table">
  <caption>Latest Deploys</caption>

  <thead>
    <tr>
      <th></th>
      <th>What</th>
      <th>SHA</th>
      <th>Who</th>
      <th>When</th>
      <th>Complete</th>
    </tr>
  </thead>
  <% @deploys.each do |deploy| %>
    <tr>
      <td>
        <%= link_to "View", project_deploy_path(current_project, deploy, watching: deploy.completed? ? nil : "1"), class: "btn btn-xs btn-primary" %>
      </td>
      <td>
        <%= print_deploy_what(deploy) %>
      </td>
      <td><%= sha_span(deploy.sha) unless deploy.sha.blank? %></td>
      <td><%= print_email deploy.auth_user.email %></td>
      <td><%= print_time deploy.created_at %></td>
      <td>
        <% if deploy.canceled? %>
          <span class="text-danger" title="Stopped"><i class="icon-remove-sign"></i></span>
        <% elsif deploy.completed? %>
          <span class="text-success" title="Complete"><i class="icon-check"></i></span>
        <% else %>
          <span class="text-muted" title="Not Complete"><i class="icon-check-empty"></i></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= pagination_links(@deploys.size, @total_deploys) %>
