<h1>
  <%= content_tag :i, "", class: "icon-#{current_project.icon}" %>
  <%= current_project.name.capitalize %>
</h1>

<h2 class="steps-count">Step 3 of 3</h2>
<h3>This is what you want to deploy, right?</h3>
<%= content_tag :div, class: ["alert", current_target.production? ? "alert-danger" : "alert-info"].compact do %>
  <p class="lead">
    <strong>Deploy:</strong>
    <%= current_project.name.capitalize %>
    <%= print_deploy_what @prov_deploy %>
    to
    <i class="icon-bullseye"></i> <%= current_target.name.upcase %>
  </p>
<%- end %>

<blockquote class="deploy-changes">
  <p class="lead muted">
    <strong>
      What will change?
    </strong>
    &nbsp;&nbsp;
    <a href="<%= current_project.diff_url(@previous_deploy, @prov_deploy) %>">
      <% if @previous_deploy %>
        <%= print_deploy_what @previous_deploy %>
      <% else %>
        First Deploy
      <% end %>
      &nbsp;
      &#x021D2;
      &nbsp;
      <%= print_deploy_what @prov_deploy %>
    </a>
    <br><br>
    <small>
      <strong>Committers: </strong>
      <% if @committers.size > 0 %>
        <%= @committers.join(", ") %>
      <% else %>
        <span class="muted">No committers found...</span>
      <% end %>
    </small>

  </p>
</blockquote>

<div class="confirm-deploy">
  <%= form_tag project_deploys_path(current_project.name),
      class: "form-horizontal",
      id: "deploy-form",
      role: "form" do %>

    <%= hidden_field_tag "artifact_url", @prov_deploy.artifact_url %>
    <%= hidden_field_tag "target_name", current_target.name %>

    <%- if @prov_deploy.options_validator.present? %>
      <%= content_tag :div, class: "panel panel-default" do %>
        <%= content_tag :div, "Options", class: "panel-heading" %>
        <%= content_tag :div, "", class: "panel-body", id: "deploy-options-form", data: {validator: @prov_deploy.options_validator, data: @prov_deploy.options} %>
      <%- end %>
    <%- end %>

    <div class="checkbox">
      <button type="submit" class="btn btn-lg btn-default btn-warning">SHIP IT!</button>
      <label>
        <input type="checkbox" name="lock"> Lock
      </label>
      <label>
        <%= check_box_tag(:servers, "on", @prov_deploy.show_single_servers?, class: "js-servers-toggle", :'data-divname' => "deploy-servers") %>
        Specify Server(s)
      </label>
    </div>

    <div id="deploy-servers" style="<%= @prov_deploy.show_single_servers? ? "" : "display: none;" %>">
      <div class="well well-sm">
        <legend>Tags</legend>

        <div class="container-fluid">
          <%- @tag_to_servers.keys.sort.each_slice(6).each do |slice| %>
            <div class="row">
              <%- slice.each do |tag| %>
                <%- servers = @tag_to_servers[tag] %>
                <div class="col-xs-2">
                  <label class="checkbox-inline">
                    <%= check_box_tag "server_tags[]", tag.id, false, data: {server_hostnames: servers.map(&:hostname)} %> <%= tag.name %>
                  </label>
                </div>
              <%- end %>
            </div>
          <%- end %>
        </div>
      </div>

      <div class="well well-sm">
        <legend>Servers</legend>

        <div class="container-fluid">
          <%- @server_hostnames.each_slice(4) do |slice| %>
            <div class="row">
              <%- slice.each do |hostname| %>
                <div class="col-xs-3">
                  <label class="checkbox-inline">
                    <%= check_box_tag "server_hostnames[]", hostname %>
                    <%= hostname %>
                  </label>
                </div>
              <%- end %>
            </div>
          <%- end %>
        </div>
      </div>
    </div>
  <%- end %>
</div>

