<h1>
  <%= content_tag :i, "", class: "icon-#{current_project.icon}" %>
  <%= current_project.titleized_name %>
</h1>

<h2 class="steps-count">Step 2 of 3</h2>
<h3>
  Where should we deploy this?
  <span class="muted">
    &nbsp;
    <%= print_deploy_what @prov_deploy %>
  </span>
</h3>
<br>

<p class="lead muted">
  Select the <i class="icon-bullseye"></i> for <span class='project'><%= @prov_deploy.project_name.titleize %></span> deployment.
</p>

<% @targets.each do |target| %>
  <%= render partial: "deploys/target", locals: { target: target }  %>
  <%# "<hr>" unless @targets.last == target %>
<% end %>
