<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Pardot/Canoe</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand"><img src="/img/logo.png" alt="Pardot" class="img-responsive logo"/></a>
    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to sessions_path, data: {method: "delete"} do %>
            <i class="icon-signout" title="logout"></i>
          <%- end %>
        </li>
      </ul>
    <% end %>
  </div>
  </header>

  <% if current_user %>
  <aside role="navigation">
    <nav role="navigation">
      <ul class="nav nav-stacked links">
        <%= content_tag :li do %>
          <%= link_to projects_path, class: current_page?(controller: "projects", action: "index") ? "active" : "" do %>
            <%= content_tag :i, "", class: "icon-home" %>
            Home
          <%- end %>
        <%- end %>
      </ul>

      <ul class="nav nav-stacked servers">
        <%= content_tag :li do %>
          <%= link_to servers_path, class: current_page?(controller: "servers", action: "index") ? "active" : ""  do %>
            <%= content_tag :i, "", class: "icon-tasks" %>
            Servers
          <%- end %>
        <%- end %>
      </ul>

      <ul class="nav nav-stacked targets">
      <% all_targets.each do |target| %>
        <li>
        <a href="<%= target_path(target) %>" <%= active_target target.name %>><i class="icon-bullseye"></i><%= target.name.camelize %></a>
        </li>
      <% end %>
      </li>
      </ul>
    </nav>
  </aside>

  <main id="content" role="main">
    <div class="container">
      <%= render partial: 'flash_messages' %>
      <%= yield %>
    </div>
  </main>

  <div class="modal fade" id="js-thumbnail-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body text-center">
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <div class="container">
      <style type="text/css">
      body { padding-left:0; }
      </style>
      <%= render partial: 'flash_messages' %>
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
