<% if query.for_account? %>
<div id="account_id">
  <span>Account: <%= query.account_name %></span>
</div>
<% end %>

<%= form_tag "/queries" do -%>
  <% if query.for_account? %>
    <%= hidden_field_tag :account_id, query.account_id %>
  <% end %>
  <%= hidden_field_tag :is_limited %>
  <%= hidden_field_tag :view, current_view %>
  <div class="btn-group view">
    <button type="button" class="btn btn-default<%= active?(current_view, sql_view) %>" data-val="<%= sql_view %>">Plain SQL</button>
    <button type="button" class="btn btn-default<%= active?(current_view, ui_view) %>" data-val="<%= ui_view %>">Explore UI View</button>
  </div>
  <div class="viewoption" <%= active?(current_view, ui_view, 'style="display:none;"') %>>
    <%= text_area_tag(:sql, query.raw_sql, rows: 10, cols: 80) %>
    <%= submit_tag "Run Query" %>
  </div>

  <div class="viewoption" <%= active?(current_view, sql_view, 'style="display:none;"') %>>
    <table class="table table-striped scrollable">
      <% query.database_tables.each do |table| %>
        <tr>
          <td class="filterable-cell"><a href="#" class="account_helper"><%= table %></a></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if query.errors.any? %>
  <div id="error_explanation" class="bg-danger well-sm">
    <h4><%= pluralize(query.errors.count, "error") %> prohibited this query from being  executed:</h4>

    <ul>
    <% query.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
