<%=
  render partial: 'form', locals: {
    query: query
  }
%>
<%- if params[:rate_limited].present? || rate_limit.at_limit? %>
<p>
Sorry but you have reached the limit of <%= rate_limit.max %> queries in
the last <%= distance_of_time_in_words(rate_limit.period) %>. Please wait
<%= distance_of_time_in_words(rate_limit.resets_in) %> before refreshing.
</p>
<%- end %>
<p>
<pre><%= query.parsed.sql %></pre>
</p>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
    <% results.fields.each_with_index do |field, i| %>
      <th>
        <%= link_to field, "#", class: 'select_column' %>
        <% if !query.parsed.select_all? && (i == results.fields.length-1) %>
          <%= select_tag(:add_column, options_for_select(table_columns.unshift("Add column", "Show all"))) %>
        <% end %>
      </th>
    <% end %>
    </tr>
    </thead>
    <tbody>
    <% results.each do |fields| %>
      <tr>
        <% fields.each do |field| %>
        <td class="filterable-cell"><%= field[1] %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%# Only enabling this for shards right now. Will see what the query usage is on global before enabling %>
<%= link_to("Show All Rows", query_path(all_rows: 1)) if query.for_account? && !query.show_all_rows %>
