<%=
  render partial: 'form', locals: {
    account: account,
    database_name: database_name,
    sql_query: sql_query,
    tables: tables,
    current_view: current_view,
  }
%>
<p>
<pre><%= sql_query.sql %></pre>
</p>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
    <% results.fields.each_with_index do |field, i| %>
      <th>
        <%= link_to field, "#", class: 'select_column' %>
        <% if !sql_query.select_all? && (i == results.fields.length-1) %>
          <%= select_tag(:add_column, options_for_select(table_columns.unshift("Add column", "Show all"))) %>
        <% end %>
      </th>
    <% end %>
    </tr>
    </thead>
    <tbody>
    <% results.each do |fields| %>
      <tr>
        <% fields.each do |field| %>
        <td class="filterable-cell"><%= field[1] %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= link_to("Show All Rows", "#", class: "all_rows") if is_limited %>
<%= link_to "Export to CSV", "#", class: "export_csv" %>
