<h1>
  <i class="icon-bullseye"></i>
  <%= current_target.name.capitalize %>
</h1>

<table class="table table-hover projects">
  <thead>
    <tr>
      <th></th>
      <th>Project</th>
      <th>Latest Deploy</th>
      <th>Lock Status</th>
    </tr>
  </thead>

  <tbody>
    <%- all_projects.each do |project| %>
      <%-
        lock = current_target.existing_lock(project)
        deploy = current_target.last_deploy_for(project.name)
      %>

      <%= content_tag :tr, class: project_row_class(lock, deploy), data: {project: project.name} do %>
        <td style="width: 1px; white-space: nowrap">
          <%- if lock %>
            <%= link_to unlock_target_project_path(current_target, project), method: "post", class: "btn btn-xs btn-warning", data: {confirm: lock.auth_user == current_user ? nil : "Are you sure you want to force unlock this project?"} do %>
              <i class="icon-unlock"></i> Unlock
            <%- end %>
          <%- else %>
            <%= link_to lock_target_project_path(current_target, project), method: "post", class: "btn btn-xs btn-danger" do %>
              <i class="icon-lock"></i> Lock
            <%- end %>
          <%- end %>

          <%= link_to "All Deploys", target_project_deploys_path(current_target, project), class: "btn btn-xs btn-primary" %>
        </td>

        <td><%= link_to project.titleized_name, project_branch_builds_path(project, "master") %></td>

        <td>
          <%- if deploy = current_target.last_deploy_for(project.name) %>
            <%- if deploy.completed? %>
              <i class="icon-check"></i>
            <%- else %>
              <i class="icon-spinner"></i>
            <%- end %>

            <%= print_deploy_what(deploy) %>
            <%= link_to "View", project_deploy_path(project, deploy, watching: deploy.completed? ? nil : "1"), class: "btn btn-xs btn-primary" %>
          <%- end %>
        </td>

        <td>
          <%- if lock %>
            <i class="icon-lock"></i>
            <strong><%= lock.auth_user.name %></strong> since <%= time_ago_in_words lock.created_at %> ago
          <%- else %>
            <i class="icon-unlock"></i>
          <%- end %>
        </td>
      <%- end %>
    <%- end %>
  </tbody>
</table>
