<% if account.present? %>
<div id="account_id">
    <span>Account: <%= account.descriptive_name %></span>
</div>
<% end %>
<%= form_tag "/queries" do -%>
  <%= hidden_field_tag :database, database_name %>
  <% if account.present? %>
    <%= hidden_field_tag :account_id, account.id %>
  <% end %>
  <%= hidden_field_tag :is_limited %>
  <%= hidden_field_tag :view, params[:view] %>
  <div class="btn-group view">
    <button type="button" class="btn btn-default<%= is_active?(:view, Query::SQL) %>" data-val="<%= Query::SQL %>">I like my SQL</button>
    <button type="button" class="btn btn-default<%= is_active?(:view, Query::UI) %>" data-val="<%= Query::UI %>">Pretty UI View</button>
  </div>
  <%= hidden_field_tag :datacenter, datacenter_name %>
  <div class="btn-group datacenter">
    <button type="button" class="btn btn-default<%= is_active?(:datacenter, DataCenter::DALLAS) %>" data-val="<%= DataCenter::DALLAS %>">Dallas</button>
    <button type="button" class="btn btn-default<%= is_active?(:datacenter, DataCenter::SEATTLE) %>" data-val="<%= DataCenter::SEATTLE %>">Seattle</button>
  </div>
  <div class="viewoption" <%= is_active?(:view, Query::UI, 'style="display:none;"') %>>
    <%= text_area_tag(:sql, sql_query.sql, rows: 10, cols: 80) %>
  </div>
  <%= submit_tag "Run Query" %>
  <div class="viewoption" <%= is_active?(:view, Query::SQL, 'style="display:none;"') %>>
    <table class="table table-striped scrollable">
      <% tables.each do |table| %>
        <tr>
          <td class="filterable-cell"><a href="#" class="account_helper"><%= table %></a></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if false %>
  <div id="error_explanation">
    <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being executed:</h2>

    <ul>
    <% @query.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
