<% if @query.account? %>
<div id="account_id">
    <span>Account: <%= @query.account.descriptive_name %></span>
</div>
<% end %>
<%= form_for @query, url: query_form_path do |f| %>
  <%= f.hidden_field :database %>
  <%= f.hidden_field :datacenter %>
  <div class="btn-group view">
    <button type="button" class="btn btn-default active">I like my SQL</button>
    <button type="button" class="btn btn-default">Pretty UI View</button>
  </div>
  <div class="btn-group datacenter">
    <button type="button" class="btn btn-default active">Dallas</button>
    <button type="button" class="btn btn-default">Seattle</button>
  </div>
  <div class="viewoption">
    <%= f.text_area(:sql, size: "60x6") %>
    <%= f.submit "Run Query" %>
  </div>
  <div class="viewoption" style="display:none;">
    <table class="table table-striped scrollable">
      <% @query.tables.each do |table| %>
        <tr>
          <td class="filterable-cell"><a href="#" class="account_helper"><%= table %></a></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if @query.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being entered:</h2>

    <ul>
    <% @query.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>