Please enter your SQL Query
<%= form_tag("/search") do %>
  <%= text_area_tag(:sql, @sql, size: "60x6") %>
  <%= submit_tag %>
<% end %>
Parsed Query: <%= @ast.try(:to_sql) %>
<div>
  <p>Global Tables</p>
  <%= @global_tables %>
</div>
<div>
  <p>Shard Tables</p>
  <%= @shard_tables %>
</div>