<%= simple_nested_form_for @server, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f| %>
  <%= f.input :hostname, label: 'Hostname', placeholder: 'app-s1', disabled: @server.persisted? %>
  <%= f.input :enabled, label: 'Enabled?', wrapper: :horizontal_radio_and_checkboxes %>

  <%= f.input :server_tag_names, label: 'Tags' do %>
    <%= f.select :server_tag_names, all_server_tag_names, {include_blank: false}, multiple: true %>
  <%- end %>

  <div class="form-group">
    <label class="col-sm-3 control-label">Deploy Scenarios</label>
    <div class="col-sm-9 deploy-scenarios-fields">
      <%= f.fields_for :deploy_scenarios do |ff| %>
        <%= ff.collection_select :project_id, Project.all, :id, :name, include_blank: false %>
        in
        <%= ff.collection_select :deploy_target_id, DeployTarget.enabled, :id, :name, include_blank: false %>
        <%= ff.link_to_remove "Remove", class: "btn btn-xs btn-danger" %>
      <%- end %>
      <%= f.link_to_add "Add Scenario", :deploy_scenarios, class: "btn btn-xs btn-default" %>
    </div>
  </div>

  <%= f.button :submit, class: "btn btn-success" %>
  <%= link_to "Cancel", servers_path, class: "btn btn-default" %>
<%- end %>
