<h1>Servers</h1>

<%= link_to "New Server", new_server_path, class: "btn btn-default" %>

<table class="table" style="margin-top: 10px">
  <tr>
    <th>Hostname</th>
    <th>Projects</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>

  <%- @servers.each do |server| %>
    <tr class="<%= server.enabled? ? "success" : "warning" %>">
      <td><%= server.hostname %></td>
      <td><%= server.projects.map(&:name).sort.join(", ") %></td>
      <td><%= server.server_tags.map(&:name).sort.join(", ") %>
      <td>
        <%= link_to "Edit", edit_server_path(server), class: "btn btn-xs btn-success" %>
      </td>
    </tr>
  <%- end %>
</table>
