<%= form_tag project_branches_path(current_project.name), method: "get", class: "form-inline pull-right" do %>
  <div class="form-group">
    <label class="sr-only" for="search">Search</label>
    <%= text_field_tag "search", params[:search], class: "form-control", id: "search", placeholder: "Enter branch name" %>
  </div>
  <button type="submit" class="btn btn-default">Search</button>
<%- end %>

<ul class="nav nav-tabs deploy-targets">
  <%= content_tag :li, class: (current_page?(controller: "builds", action: "index", project_name: current_project.name, branch_name: "master") ? "active" : "") do %>
    <%= link_to project_branch_builds_path(current_project, "master") do %>
      <%= deploy_type_icon("branch-master") %> master
    <%- end %>
  <%- end %>
  <%= content_tag :li, class: (current_page?(controller: "branches", action: "index", project_name: current_project.name) ? "active" : "") do %>
    <%= link_to project_branches_path(current_project) do %>
      <%= deploy_type_icon("branch") %> branches
    <%- end %>
  <%- end %>
  <% if defined?(current_branch) && current_branch.name != "master" %>
    <%= content_tag :li, class: "active" do %>
      <%= link_to project_branch_builds_path(current_project, current_branch.name) do %>
        <%= deploy_type_icon("branch") %> <%= current_branch.name %>
      <%- end %>
    <%- end %>
  <%- end %>
</ul>
