<% if @branches %>
  <%= form_tag repo_branches_path(current_repo.name), method: "get", class: "form-inline pull-right" do %>
    <div class="form-group">
      <label class="sr-only" for="search">Search</label>
      <%= text_field_tag "search", params[:search], class: "form-control", id: "search", placeholder: "Enter branch name" %>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  <%- end %>
<% end %>

<ul class="nav nav-tabs deploy-targets">
  <%- if current_repo.deploys_via_artifacts? -%>
    <%= content_tag :li, class: (current_page?(controller: "builds", action: "index", repo_name: current_repo.name, branch_name: "master") ? "active" : "") do %>
      <%= link_to repo_branch_builds_path(current_repo, "master") do %>
        <%= deploy_type_icon("branch-master") %> master
      <%- end %>
    <%- end %>
    <%= content_tag :li, class: (current_page?(controller: "branches", action: "index", repo_name: current_repo.name) ? "active" : "") do %>
      <%= link_to repo_branches_path(current_repo) do %>
        <%= deploy_type_icon("branch") %> branches
      <%- end %>
    <%- end %>
  <%- else %>
    <%= content_tag :li, class: (@latest_tag ? "active" : "") do %>
      <%= link_to latest_repo_tags_path(current_repo.name) do %>
        <%= deploy_type_icon("tag") %> latest tag
      <%- end %>
    <%- end %>
    <%= content_tag :li, class: (@tags ? "active" : "") do %>
      <%= link_to repo_tags_path(current_repo.name) do %>
        <%= deploy_type_icon("tag") %> tags
      <%- end %>
    <%- end %>
    <% if current_repo.supports_branch_deploy? %>
      <%= content_tag :li, class: (@branches ? "active" : "") do %>
        <%= link_to repo_branches_path(current_repo.name) do %>
          <%= deploy_type_icon("branch") %> branches
        <%- end %>
      <%- end %>
    <% end %>
    <% if false %>
      <%= content_tag :li, class: (@commits ? "active" : "") do %>
        <%= link_to repo_commits_path(current_repo.name) do %>
          <%= deploy_type_icon("commit") %> commits
        <%- end %>
      <%- end %>
    <% end %>
  <%- end %>
</ul>
<br>
