<h1>
  <%= content_tag :i, "", class: "icon-#{current_project.icon}" %>
  <%= current_project.titleized_name %>
</h1>

<h2 class="steps-count" style="border-bottom: none;">Step 1 of 3</h2>

<div>
  <%= render partial: "application/deploy_what_tabs" %>

  <ul class="list-unstyled deploy-list">
    <% @branches.each do |branch| %>
      <li>
        <h4>
          <%= link_to "This Branch", project_branch_builds_path(current_project, branch.name), class: "btn btn-primary btn-xs deploy-button" %>

          &nbsp;
          <%= deploy_type_icon("branch") %> <%= branch.name %>
          &nbsp;
          <a href="<%= current_project.branch_url(branch) %>" class="text-muted" title="view on github"><i class="icon-github-sign"></i></a>
        </h4>
        <small class="muted">commit: <a href="<%= current_project.commit_url(branch.commit) %>" title="<%= branch.commit.sha %>"><%= sha_span(branch.commit.sha) %></a></small>
        <hr>
      </li>
    <% end %>
    <% if @branches.empty? %>
      <li>
        <p class="well">No branches found.</p>
      </li>
    <% end %>
  </ul>
</div>
